<%- include('./include/Head.ejs') %>
<body class ="mt-4">
  <p class="display-1 container">
    An error has Occur
  </p>
  <hr>
  <a href="/" class="btn btn-outline-info ml-4 ">Fallback to the Save zone</a>
</body>
<%- include('./include/End.ejs') %>
