<form action="/convert" method="POST">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter Text</label>
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
      name="text"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
